/node_modules
/.idea
Homestead.json
Homestead.yaml
.ide
.ide/*
.idea/vcs.xml
.idea/workspace.xml
_ide_helper.php
/vendor
/.cache
/.composer
/.config
/.cpanel
/.cphorde
/.cphorde
/.htpasswds
/.softaculous
/.spamassassin
/.ssh
/.trash
/__MACOSX
/etc
/logs
/mail
/perl
/perl5
/ssl
/vendor
/public_html
/public_ftp
/www
/access-logs
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.contactemail
/.permslog
/.spamassassinboxenable
/.spamassassinenable
/error_log
/.lastlogin
/.rnd
/.ftpquota
/tmp
/.gitconfig
/recursos
/.subaccounts
/.pki
/recursos
/backup_bycar
/__MACOSX
/var
/Updates
/access-logs
/php.ini
/bootstrap/cache/config.php
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/logs/*
/storage/debugbar
/storage/logs/laravel.log
/public/framework/sessions
/storage/framework/sessions/*
/public/uploads
/storage/app
public/storage/oauth-public.key
public/storage/oauth-private.key
/storage/app/public
/storage/app/public/admin
/storage/app/public/admin/profile
/storage/app/public/fleet
/storage/app/public/provider/documents
/storage/app/public/provider/profile
/storage/app/public/user/profile
/public/storage
.env
/.htaccess
/.vim
/.viminfo
/stats
/DB_app.sql
/public/storage
/yarn.lock/
/public/public
/public/storage
/storage/oauth-private.key
/storage/oauth-public.key
**/.DS_Store
